<h1>Pivotal Overall Velocity</h1>
<%= @movingAverage.inspect %>
<table
    <% @velocities.each do |date, points| %>
      <tr>
        <td><%=date%></td>
        <td><%=points%></td>
      </tr>
  <% end %>
</table>

</div>
