div {
  font-family: 'Courier New', Verdana;
}

div.storyboard {
  background-color: #CCCCCC;
  /*height: 100%;*/
  overflow: hidden;
  /*clear: both;*/
}

div.column {
  float: left;
  width: 27%;
  min-width: 150px;
  /*height: 100%;*/
  background-color: #F2F2F2;
  border: 3px solid #D1D1D1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  padding-bottom: 9010px;
  margin-bottom: -9000px;
  /*border: 1px solid black;*/
}

div.first_column {
    margin-left: 7%
}

div.dummy_border {
 height: 3px;
 font-size: 0;

}

div.col_header {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #858585;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

span.points {
    text-align: right;
}


.column .project {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}
.column .project0 {
  border: 2px solid #0000FF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.column .project1 {
  border: 2px solid #FFFF00;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

.column .project2 {
  border: 2px solid #00FF00;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.column .project3 {
  border: 2px solid #00FFFF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

.column .project4 {
  border: 2px solid #FF0000;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

.column .project5 {
  border: 2px solid #ffb500;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

div.StoryPoints {
  font-size: 10pt;
  text-align: right;
}

div.bug {
   float: right;
    margin-top: -15px;
}

div.StoryTitle {
  min-height: 100px;
  font-weight: bold;
  font-size: 12pt;
}

div#link {
    float: left;
}

.print_display_opts {
   width: 10%;
    min-width: 150px;
    background-color: #a9a9a9;
    padding: 5px;
    float:left;
    margin-bottom: 10px;
}

.print_filter_button {
    float: left;
}

.form_row {
    float: left;
    background-color: #d3d3d3;
}

.print_stories_list {
    clear: both;
}

.printrows {
    width: 80%;
    min-width: 300px;
    left: 10%;
    background-color: #a9a9a9;
}

.printrows .project {
    border: 2px solid #FFFFFF;
    margin:  10px;
    padding:  5px;
    background-color: #d3d3d3;
}

div.printrows a:link {
    color: #000000;
}

div.printrows a:visited {
    color: #000000;
}

div.storycard {
    background-color: #CCCCCC;
    width: 50%;
    min-width: 400px;
    border: 3px solid #D1D1D1;

}

li div.true {
    text-decoration: line-through
}