div {
  font-family: 'Courier New', Verdana;
}

div.storyboard {
  background-color: #CCCCCC;
  /*height: 100%;*/
  overflow: hidden;
  /*clear: both;*/
}

div.column {
  float: left;
  width: 27%;
  min-width: 150px;
  /*height: 100%;*/
  background-color: #F2F2F2;
  border: 3px solid #D1D1D1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  padding-bottom: 9010px;
  margin-bottom: -9000px;
  /*border: 1px solid black;*/
}

div.first_column {
    margin-left: 7%
}

div.dummy_border {
 height: 3px;
 font-size: 0;

}

div.col_header {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #858585;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

span.points {
    text-align: right;
}


div.column div.project {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}
div.column div.project1 {
  border: 2px solid #0000FF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

div.column div.project2 {
  border: 2px solid #00FF00;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

div.column div.project3 {
  border: 2px solid #00FFFF;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

div.column div.project4 {
  border: 2px solid #FF0000;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

div.column div.project5 {
  border: 2px solid #FFFF00;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

div.column div.project6 {
  border: 2px solid #ffb500;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  padding: 10px;
}

div.StoryPoints {
  font-size: 10pt;
  text-align: right;
}

div.bug {
   float: right;
    margin-top: -15px;
}

div.StoryTitle {
  min-height: 100px;
  font-weight: bold;
  font-size: 12pt;
}

div#link {
    float: left;
}

div.printrows div.project1 {
    color: #0000FF;
}
div.printrows div.project2 {
    color: #139513;
}
div.printrows div.project3 {
    color: #7e14b6;
}
div.printrows div.project4 {
    color: #902a2a;
}
div.printrows div.project5 {
    color: #909015;
}
div.printrows div.project6 {
    color: #ffb500;
}