<h1>Pivotal Overall View</h1>

<div class="dev_col">
<%= render :partial => "story", :collection => @all_development, :as => :story %>
</div>

<div class="test_col">
<%= render :partial => "story", :collection => @all_testing, :as => :story %>
</div>

<div class="complete_col">
<%= render :partial => "story", :collection => @all_completed, :as => :story %>
</div>
