<h1>Index Page</h1>
<p>Choose where to go from here</p>

<%= link_to "Current Iteration", :controller => "tracker", :action => "index"  %>
<%= link_to "Print Story cards", :controller => "print", :action => "index"  %>
<%= link_to "Historical velocity", :controller => "velocity", :action => "index"  %>
